@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: "Poppins";
  background-color: #8362c2;
  color: azure;
}

body {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #8362c2;
  color: azure;
  position: fixed;
  top: 0;
  width: 97%;
}

.inicio {
  height: 800px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../Styles/Images/back.svg) #8362c2;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 5px;
}

.menu li a {
  display: block;
  padding: 10px;
}

.ativo {
  border-radius: 10px;
  background-color: #452d72;
}

/* Imagens */

img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.img1 {
  width: 520px;
  height: 520px;
  cursor: pointer;
}

.icons {
  height: 100px;
  cursor: pointer;
}

.iconsystem {
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
}

/* Posicionamento de Divs */

#dir {
  margin-right: 120px;
}

#esq {
  margin-left: 120px;
}

#dir2 {
  margin-right: 400px;
}

#dir3 {
  margin-right: 200px;
}

#esq2 {
  margin-left: 400px;
}

.buttons {
  border: 5px;
  padding: 20px;
  background-color: #452d72;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  height: 210px;
}

.buttons:hover {
  box-shadow: 0 0 20px #2a1849;
}

.image-text {
  display: flex;
  text-align: justify;
}

.no-image {
  display: flex;
  text-align: justify;
  margin: 0 125px 50px 125px;
}

.divisor {
  width: 50%;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.referencia {
  text-align: start;
  margin: 0 125px 50px 125px;
}

/* Textos */

strong {
  background-color: #452d72;
}

h1 {
  font-size: 2.5rem;
  color: azure;
}

h2 {
  font-size: 2rem;
  color: azure;
  margin-bottom: 10px;
}

.title {
  text-align: center;
}

a {
  text-decoration: none;
  color: azure;
}

#espace {
  margin-bottom: 70px;
}

#espace2 {
  margin-top: 70px;
  margin-bottom: 70px;
}

#espace3 {
  margin-top: 70px;
}

.lista {
  width: 100%;
}

.about {
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testes {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.testes div {
  padding: 26px;
}

.iconteste {
  width: 250px;
  height: 250px;
}
